/* Note: this CSS is only an example, you can overlay whatever you want using the activeItem logic */

#infinite-grid-menu-canvas {
  cursor: grab;
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  outline: none;
}

#infinite-grid-menu-canvas:active {
  cursor: grabbing;
}

.action-button {
  position: absolute;
  left: 50%;
  z-index: 10;
  width: 60px;
  height: 60px;
  display: grid;
  place-items: center;
  cursor: pointer;
}

.face-title {
  user-select: none;
  position: absolute;
  font-weight: 600;
  font-size: 1.5rem;
  font-family: 'JetBrains Mono', monospace;
  left: 50%;
  bottom: 10%;
  transform: translateX(-50%);
  text-align: center;
  width: 100%;
}

.action-button-icon {
  user-select: none;
  font-size: 26px;
}

.face-title.active {
  opacity: 1;
  transform: translateX(-50%);
  pointer-events: auto;
  transition: 0.5s ease;
}

.face-title.inactive {
  pointer-events: none;
  opacity: 0;
  transform: translateX(-50%) translateY(10px);
  transition: 0.1s ease;
}

/* Face description removed */

.action-button {
  position: absolute;
  left: 50%;
}

.action-button.active {
  bottom: 3.8em;
  transform: translateX(-50%) scale(1);
  opacity: 1;
  pointer-events: auto;
  transition: 0.5s ease;
}

.action-button.inactive {
  bottom: -80px;
  transform: translateX(-50%) scale(0);
  opacity: 0;
  pointer-events: none;
  transition: 0.1s ease;
}

@media (max-width: 1500px) {
  .face-title, .face-description {
    display: none;
  }
}
